<style>
  .file{
    color: red;
  }
  .directory{
    color: blue;
  }

  .file-content-editor{
    width: 95%;
    margin: 100px 2.5% 100px 2.5%;
  }

  #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .help {
    position: absolute;
    top: 800px;
  }
</style>

<%# @directory_info[:directories].inspect %>
<table>
  <% if @exist %>

      <% if @is_directory %>
          <% if can_create_file? %>
            <tr>
              <td colspan="2">
                <div class="files-list-actions">
                  <form id="create-file-form" action="<%= create_file_path(path: @relative_path) %>" method="post">
                    <input type="hidden" name="filename" id="create-file-filename" />
                    <input type="hidden" value="" name="yaml_file_locale">
                    <button id="create-yaml-file-button">Create YAML File</button>
                  </form>
                </div>
              </td>
            </tr>
          <% end %>

          <% if !@directory_info.nil? && !@directory_info[:files].nil? %>
              <% @entries_by_type_and_name.each do |entry| %>
                  <% next if !entry[:is_relative] || entry[:is_hidden] %>
                  <% entry_url = file_path(path: entry[:relative_path]) %>
                  <tr>
                    <td class="icon">
                      <span class="octicon <%= (entry[:is_directory] == true)? 'octicon-file-directory' : 'octicon-file-text' %>"></span>
                    </td>
                    <td class="content">
        <span class="css-truncate css-truncate-target">
          <a href="<%= entry_url %>" class="js-directory-link"><%= entry[:name] %></a>
        </span>
                    </td>
                  </tr>
              <% end %>
          <% end %>

          <script type="text/javascript">
            $("#create-yaml-file-button").on("click", function (e) {
              e.preventDefault();
              var valid_locales = [<%= raw I18n.available_locales.map { |locale| "'#{locale}'" }.join(',') %>];
              var filename = prompt("Enter file name without extension");
              if (filename) {
                var locale = $.trim(prompt("Enter locale shortcut. Valid locales are: " + valid_locales.join(', ') ))
                if (locale && valid_locales.indexOf(locale) >= 0) {
                  $("#create-file-filename").val(filename + '.yml')
                  $("[name=yaml_file_locale]").val(locale)
                  $("#create-file-form").submit()

                }
              }
            })
          </script>



      <% else %>

          <div class="file-content-editor" id="editor" data-filename="<%= @file_name %>" data-filetype="<%= @file_type %>" <% if @file_type == :text %>data-ace-mode="<%= @ace_mode %>"<% end %>><% if @file_type == :text %><%= @file_content %><% elsif @file_type == :image %><h1>image file</h1><% end %></div>
          <script>
            //var editor = ace.edit("editor");

            var $editor = $('#editor')
            var ace_mode = $editor.attr('data-ace-mode')
            if(ace_mode){
              var editor = ace.edit("editor");
              editor.setTheme("ace/theme/monokai");
              editor.getSession().setMode("ace/mode/" + ace_mode );
            }
          </script>
          <div class="help">
            <h2>Help</h2>
            <p>pluralization rules:</p>
            <p><a href="http://www.unicode.org/cldr/charts/29/supplemental/language_plural_rules.html">http://www.unicode.org/cldr/charts/29/supplemental/language_plural_rules.html</a></p>
            <p>YAML files for localization never cannot be blank. In this case application will not run successfully on next restart. Please keep file valid.</p>
          </div>

      <% end %>

  <% end %>
</table>